@charset "utf-8";
/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #333;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
  width: 300px;
}

/*========= SVG操作手書き風にするためのCSS ===============*/

#mask .st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 90; /*線の太さを指定する*/
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500; /* 線の間隔を指定する */
  stroke-dashoffset: 1500; /* 線の位置を指定する */
}

/*========= レイアウトのためのCSS ===============*/

body {
  font-family: HarenosoraMincho;
}

/* #container {
  width: 100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

#container {
  width: 100%;
  height: 100vh;
  background: #fff !important;
  display: block !important;
  justify-content: center;
  align-items: center;
  text-align: left !important;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

/* --------------------------------
              main
-------------------------------- */
/* ----- main-top ----- */
.main-top {
  position: relative;
}
.main-top img {
  position: absolute;
  top: 0;
  left: 0;
}

.top-section {
  display: flex;
}

.section-left {
  position: relative;
  width: 73%;
  height: 625px;
  background-color: #355469;
}
.section-left::after {
  content: "";
  position: absolute;
  top: 225px;
  width: 665.5px;
  height: 1px;
  display: block;
  background-color: #fce4e7;
}
.section-left-text {
  margin-top: 185px;
  margin-left: 120px;
  color: #fff;
}
.title {
  margin-bottom: 50px;
  font-size: 30px;
}
h1 {
  margin-bottom: 25px;
  font-size: 70px;
}
h1 + p {
  font-size: 25px;
}

.section-right {
  width: 27%;
  height: 625px;
  background-color: #baa68b;
}

.section-right-text {
  width: 240px;
  margin: 335px auto 40px;
  font-size: 30px;
  color: #fff;
}

.section-right-btn a {
  width: 212px;
  height: 40px;
  display: block;
  margin: 0 auto;
  line-height: 40px;
  background-color: #355469;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.section-right-btn .cactel-serarch {
  margin-bottom: 20px;
}
